<div class="label label-primary">Admin Dashboard</div>

<h2>Number of Products: <%= @products.count %> </h2>
<h2>Number of Categories: <%= @categories.count %></h2>
<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category %> </li>
  <% end %>
</ul>

