<title class="label label-primary">About</title>
<h2>About Us: </h2>
<p>Jungle was founded in 2022 during a trying time in the world, with a war going on and gas prices soaring, this was the time to start selling unqiue items on the internet to reach the corners of the globe so you don't need to leave your house. Need a hotdog slicer? Well you've come to the right place!</p>